<ion-header>

  <ion-navbar color="danger">
    <ion-title>Select Distribution</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-item padding>
    <ion-label>Select Dept</ion-label>
    <ion-select>
      <ion-option value="0">QA MGR</ion-option>
      <ion-option value="1">DEPT X</ion-option>
    </ion-select>
  </ion-item>
	<ion-item padding>
    <ion-label>Select Complaint Type</ion-label>
    <ion-select>
      <ion-option value="xx">xxxx</ion-option>
      <ion-option value="cc">cc</ion-option>
    </ion-select>
  </ion-item>

  <div padding>
    <ion-label color="dark">Note</ion-label>
    <textarea rows="6" style="width: 100%;"></textarea>
  </div>
  
  <div padding>
    <button ion-button type="submit" color="danger" block>Submit</button>        
  </div>

</ion-content>
