<ion-header>
  <ion-navbar color="danger">
    <ion-title>Workflow History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-item>
		<h2 text-wrap><b>Phase Approval by Arizal</b></h2>
		<h2>
			Status <ion-badge color="dark">Waiting</ion-badge>
			Approval <ion-badge color="dark">Approved</ion-badge>
		</h2>	
		<p text-wrap>Ini coment dari approval</p>
		<ion-note item-end>
			<ion-badge color="light">
				<h2 style="color: red">1</h2>
			</ion-badge>
		</ion-note>
	</ion-item>
	<ion-item>
		<h2 text-wrap><b>Phase Approval by Arizal</b></h2>
		<h2>
			Status <ion-badge color="dark">Waiting</ion-badge>
			Approval <ion-badge color="dark">Approved</ion-badge>
		</h2>	
		<p text-wrap>Ini coment dari approval</p>
		<ion-note item-end>
			<ion-badge color="light">
				<h2 style="color: red">2</h2>
			</ion-badge>
		</ion-note>
	</ion-item>
</ion-content>
