page-login {
    
     .login-content {
       background: 	#ffffff;
    
       .logo-row {
         padding-top: 40px;
         padding-bottom: 10px;
       }
       .logo {
           text-align: center;
       }
    
       .login-box {
         background: #ffffff;
         padding: 20px 20px 20px 20px;
         margin-top: 25px;
         border-radius: 12px !important;
       }
        .submit-btn {
          background: 	#df2020;
          border-radius: 8px !important;
        }
     }
    
   }
