<ion-content class="login-content" padding >
  <ion-row class="logo-row">
    
    <ion-col class="logo">
      <img src="assets/logo/logopm.png"/>
    </ion-col>
 
  </ion-row>
  <div class="login-box">
    <form #loginForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list>
            
            <ion-item>
              <ion-input type="text" placeholder="username" name="username" [(ngModel)]="username"></ion-input>
            </ion-item>
          
            <ion-item>
              <ion-input type="password" placeholder="password" name="password" [(ngModel)]="password"></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" (click)="onLoginSubmit()">Login</button>          
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content>
