<ion-header>

  <ion-navbar color="danger">
    <ion-title>Validation</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
	<ion-item padding>
    <ion-label>Select Action</ion-label>
    <ion-select>
      <ion-option value="invalid">Invalid</ion-option>
      <ion-option value="v_internal">Valid Internal</ion-option>
      <ion-option value="v_eksternal">Valid Eksternal</ion-option>
    </ion-select>
  </ion-item>
  <ion-item padding>
    <ion-label fixed>CPA#</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <div padding>
      <ion-label color="dark">Coment</ion-label>
      <textarea rows="5" style="width: 100%;"></textarea>
  </div>
  <div padding>
	    <ion-label color="dark">Proposed Replacement</ion-label>
	    <textarea rows="5" style="width: 100%;"></textarea>
  </div>
  <div padding>
    <button ion-button type="submit" color="danger" block>Submit</button>
  </div>
</ion-content>
