<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Complaint Action List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <h2><b>
        Trans# <ion-badge color="danger">171009</ion-badge>  
        Batch# <ion-badge color="danger">6718716</ion-badge>
      </b></h2>
      <p>November 5, 1955</p>
    </ion-item>

    <ion-card-content>
      <ion-row style="margin-top: -8px">
        <ion-col>
          <h2>Varietas</h2><ion-badge color="light">Bawang Mereh</ion-badge>
        </ion-col>
        <ion-col>
          <h2>Type</h2><ion-badge color="light">Domestik</ion-badge>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px">
        <ion-col>
          <h2>Valid#</h2><ion-badge color="light">-</ion-badge>
        </ion-col>
        <ion-col>
          <h2>CS Name</h2><ion-badge text-wrap text-left color="light">Amrullah Ali</ion-badge>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px">
        <ion-col>
          <h2>Status</h2>
          <ion-badge text-wrap text-left color="light">
            Waiting Approval by Agus Yulianto Waiting Approval by Agus Yulianto
          </ion-badge>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-row style="margin-top: -8px">
      <ion-col>
        <button ion-button color="danger" clear small icon-left (click)="showWorkFlow()">
          <ion-icon ios="ios-list" md="md-list"></ion-icon> Flows
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="danger" clear small icon-left (click)="showDetail()">
          <ion-icon name='eye'></ion-icon> Details
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="danger" clear small icon-left (click)="actionGo()"> 
          <ion-icon name="flash"></ion-icon> Actions
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-item>
      <h2>
        Trans# <ion-badge color="danger">171009</ion-badge>  
        Batch# <ion-badge color="danger">6718716</ion-badge>
      </h2>
      <p>November 5, 1955</p>
    </ion-item>

    <ion-card-content>
      <ion-row style="margin-top: -8px">
        <ion-col>
          <h2>Varietas</h2><ion-badge color="light">Bawang Mereh</ion-badge>
        </ion-col>
        <ion-col>
          <h2>Type</h2><ion-badge color="light">Domestik</ion-badge>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px">
        <ion-col>
          <h2>Valid#</h2><ion-badge color="light">Valid External</ion-badge>
        </ion-col>
        <ion-col>
          <h2>CS Name</h2><ion-badge text-wrap text-left color="light">Amrullah Ali</ion-badge>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px">
        <ion-col>
          <h2>Status</h2>
          <ion-badge text-wrap text-left color="light">
            Waiting Approval by Agus Yulianto Waiting Approval by Agus Yulianto
          </ion-badge>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-row style="margin-top: -8px">
      <ion-col>
        <button ion-button color="danger" clear small icon-left>
          <ion-icon ios="ios-list" md="md-list"></ion-icon> Flows
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="danger" clear small icon-left>
          <ion-icon name='eye'></ion-icon> Details
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="danger" clear small icon-left>
          <ion-icon name="flash"></ion-icon> Actions
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  
</ion-content>
