<ion-header>
  <ion-navbar color="danger">
    <ion-title>Approval</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-item padding>
    <ion-label>Select Action</ion-label>
    <ion-select>
      <ion-option value="approve">Approve</ion-option>
      <ion-option value="reject">Reject</ion-option>
      <ion-option value="revised">Revised</ion-option>
    </ion-select>
  </ion-item>

  <div padding>
    <ion-label color="dark">Note</ion-label>
    <textarea rows="7" style="width: 100%;"></textarea>
  </div>
  
  <div padding>
    <button ion-button type="submit" color="danger" block>Submit</button>        
  </div>  
</ion-content>
