<ion-header>

  <ion-navbar color="danger">
    <ion-title>Customer Service Confirm</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div >
	<ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
                <p>Date Send : 23-09-2017</p>
            </ion-col>
    </ion-row> 

    <ion-card>
	    <ion-list radio-group [(ngModel)]="relationship">
		  <ion-item>
		    <ion-label>Compentation</ion-label>
		    <ion-radio value="compentation"></ion-radio>
		  </ion-item>
		  <ion-item>
		    <ion-label>No Compentation</ion-label>
		    <ion-radio value="n_compentation"></ion-radio>
		  </ion-item>
		</ion-list>
    </ion-card>

    <ion-item>
	    <ion-label color="dark" stacked>Complaint Number</ion-label>
	    <ion-input type="number" placeholder="0000">234567i8</ion-input>
	</ion-item>
  	<ion-item>
    	<ion-label color="dark" stacked>Invace Number</ion-label>
    	<ion-input type="number" placeholder="0000">234567i8</ion-input>
  	</ion-item>
  	
  	<div padding>
	    <ion-label color="dark">Comment</ion-label>
	    <textarea rows="7" style="width: 100%;"></textarea>
  	</div>
  	<br>
  	<ion-item>
    	<ion-label color="dark">Select Varieties</ion-label>
    	<ion-select>
	    	<ion-option value="padi">PADI</ion-option>
	    	<ion-option value="jagung">JAGUNG</ion-option>
	    	<ion-option value="bawang">BAWANG MERAH</ion-option>
	    </ion-select>
	</ion-item>
  </div>
  <br>
  <br>	
  <button ion-button type="submit" color="danger" block>Submit</button>

</ion-content>
