<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Customer Service Confirm</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="pilih" color="dark">
      <ion-segment-button value="onprogres">
        On Progres
      </ion-segment-button>
      <ion-segment-button value="complate">
         Complate
      </ion-segment-button>
      <ion-segment-button value="rejected">
         Rejected
        </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="pilih">
    <ion-list *ngSwitchCase="'onprogres'">
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col>
                <h5>trans# : 78685</h5>
                <h5>batch : </h5>
                <h5>complaint type : generic</h5>
                <h5>Status : </h5>
            </ion-col>
            <ion-col>
                <h5>23-09-2017</h5>
                <h5>CS name : Moh Iqbal</h5>
                <h5>variaties : </h5>
                <h5>valid : </h5>
            </ion-col>
          </ion-row>  
        </ion-card-content>
        <ion-item>
            <button ion-button outline color="danger" icon-left (click)="lihatDetail()">
                <ion-icon name="eye"></ion-icon>view
            </button>
            <button ion-button outline color="danger" icon-left (click)="onConfirmSend()">
                <ion-icon name="checkmark"></ion-icon>Confirm
            </button>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col>
                <h5>trans# : 78685</h5>
                <h5>batch : </h5>
                <h5>complaint type : generic</h5>
                <h5>Status : </h5>
            </ion-col>
            <ion-col>
                <h5>23-09-2017</h5>
                <h5>CS name : Moh Iqbal</h5>
                <h5>variaties : </h5>
                <h5>valid : </h5>
            </ion-col>
          </ion-row>  
        </ion-card-content>
        <ion-item>
            <button ion-button outline color="danger" icon-left (click)="lihatDetail()">
                <ion-icon name="eye"></ion-icon>view
            </button>
            <button ion-button outline color="danger" icon-left on (click)="onConfirmSend()">
                <ion-icon name="checkmark"></ion-icon>Confirm
            </button>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
