<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 style="text-align: center;">Wellcome To Apps Complaint</h3>

  <div style="text-align: center; margin-top: 50%;">
    <button  ion-button color='danger' (click)="onComplaint()" >New Complaint</button>
  </div>
</ion-content>
