<ion-menu [content]="content" id="menu1">
  <ion-header>
    <div style="height: 175px; color: white;">
      <div style="padding-top: 15px; padding-bottom: 0px">
        <div style="text-align: center;">
          <img src="assets/logo/logopm.png" style="height: 100px;" />
        </div>
      </div>
      <h5 style="text-align: center; color: #262626;">Hallo Admin</h5>
    </div>
  </ion-header>
 
  <ion-content padding>
    <ion-list no-lines>
      <button menuClose icon-left ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon>{{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" swipeBackEnabled="false" #content ></ion-nav>