<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Distribution</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-item>
  		<ion-searchbar></ion-searchbar>
  	</ion-item>
  
    <ion-list >
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col>
                <h5>trans# : 78685</h5>
                <h5>batch : </h5>
                <h5>complaint type : generic</h5>
                <h5>Status : </h5>
            </ion-col>
            <ion-col>
                <h5>23-09-2017</h5>
                <h5>CS name : Moh Iqbal</h5>
                <h5>variaties : </h5>
                <h5>valid : </h5>
            </ion-col>
          </ion-row>  
        </ion-card-content>
        <ion-item>
            <button ion-button outline color="danger" icon-left block (click)="onDistribution()"> assigen
            </button>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col>
                <h5>trans# : 78685</h5>
                <h5>batch : </h5>
                <h5>complaint type : generic</h5>
                <h5>Status : </h5>
            </ion-col>
            <ion-col>
                <h5>23-09-2017</h5>
                <h5>CS name : Moh Iqbal</h5>
                <h5>variaties : </h5>
                <h5>valid : </h5>
            </ion-col>
          </ion-row>  
        </ion-card-content>
        <ion-item>
            <button ion-button outline color="danger" icon-left block (click)="onDistribution()"> assigen
            </button>
        </ion-item>
      </ion-card>
    </ion-list>
</ion-content>
