<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Create New Complaint</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label color="dark" stacked>Complaint Number</ion-label>
    <ion-input type="number" [(ngModel)]="ncomplaint" name="ncomplaint"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="dark" stacked>Complaint Date</ion-label>
    <ion-input type="text" name="cdate" [ngModel]="cdate | date:'shortDate'" (ngModelChange)="cdate=$event"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label color="dark" stacked>Batch#</ion-label>
    <ion-input type="number" [(ngModel)]="batch" name="batch" placeholder="0"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="dark" stacked>Expired</ion-label>
    <ion-input type="text" [(ngModel)]="expired" name="expired" placeholder="0"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label color="dark">Category</ion-label>
    <ion-select [(ngModel)]="category" name="category" col-9 border (ngModelChange)="getTransType($event)"> 
      <ion-option *ngFor="let item of dtTransTypes" value="{{item.nTransactionTypeID}}">{{item.cTransactionTypeName}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label color="dark" >CS Name</ion-label>
    <ion-select col-9 [(ngModel)]="csname" name="csname" border>
      <ion-option *ngFor="let item of csnames" value="{{item.nEmployeeID}}">{{ item.cUserName }}</ion-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label color="dark">Crop</ion-label>
    <ion-select col-9 [(ngModel)]="crop" name="crop" (ngModelChange)="getVarietas($event)">
      <ion-option *ngFor="let item of crops" [value]="item">{{item.cCropName}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label color="dark">Varieties</ion-label>
    <ion-select col-9 [(ngModel)]="varietas" name="varietas">
      <ion-option *ngFor="let item of Varietas" value="{{item.cVarietasName}}">{{item.cVarietasName}}</ion-option>
    </ion-select>
  </ion-item>
    
  <ion-label color="dark" style="margin-bottom: -10px;" padding>Quantity</ion-label>
  <ion-row>
    <ion-col  col-8>
    <ion-select col-12 [(ngModel)]="tunit" name="tunit">
      <ion-option *ngFor="let item of tUnits" value="{{item.nTransactionUnitID}}">{{item.cTransactionUnitName}}</ion-option>
    </ion-select>
    </ion-col>
    <ion-col>
      <ion-input type="number" [(ngModel)]="qty" name="qty" placeholder="0"></ion-input>
    </ion-col>  
  </ion-row>

  <ion-label color="dark" padding style="margin-bottom: -10px; margin-top: -10px;">Content</ion-label>

  <ion-row>
    <ion-col col-8>
    <ion-select col-12 [(ngModel)]="tunit1" name="tunit1" item-end>
      <ion-option *ngFor="let item of tUnits1" value="{{item.nTransactionUnitID}}">{{item.cTransactionUnitName}}</ion-option>
    </ion-select>
    </ion-col>
    <ion-col col-2>
      <ion-input type="number" [(ngModel)]="qty1" name="qty1" placeholder="0" item-end></ion-input>
    </ion-col>  
  </ion-row>
  <br>
  <div>
    <button ion-button color="danger" type="submit" block (click)="keComplainName()">Next</button>
  </div>
</ion-content>
