<ion-header>
  <ion-navbar color="danger">
    <ion-title>Detail List</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-lines>
  <ion-item-group>
    <ion-item-divider color="light" align="center"><b>First Insfection</b></ion-item-divider>
    <ion-item>Inspector Name
      <ion-note item-end color="dark">18-09-2017</ion-note>
    </ion-item>
    <ion-item>Phone#
        <ion-note item-end color="dark">2</ion-note>
    </ion-item>
    <ion-item>Email Addres
        <ion-note item-end color="dark">1</ion-note>
    </ion-item>
    <ion-item>Complaint Detail
       <p text-wrap> Complaint detail ini Complaint detail ini Complaint detail ini Complaint detail  </p>       
    </ion-item>
    <ion-item>Visit Result
        <p text-wrap> Complaint detail ini Complaint detail ini Complaint detail ini Complaint detail  </p>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light" align="center">Costomer</ion-item-divider>
    <ion-item>Name
        <ion-note item-end color="dark">Yogi</ion-note>        
    </ion-item>
    <ion-item>Phone
      <ion-note item-end color="dark">087763456789</ion-note>
    </ion-item>
    <ion-item>Address
      <p text-wrap> Complaint detail ini Complaint detail ini Complaint detail ini Complaint detail  </p>
    </ion-item>
    <ion-item>Contry
      <ion-note item-end color="dark">Jawa Tengah</ion-note>        
    </ion-item>
    <ion-item>Provence
      <ion-note item-end color="dark">Jawa Tengah</ion-note>        
    </ion-item>
    <ion-item>Regency
      <ion-note item-end color="dark">Solo</ion-note>
    </ion-item>      
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light" align="center">Additional Info</ion-item-divider>
    <ion-item>Batch
      <ion-note item-end color="dark">7887</ion-note>
      <p>ini notes</p>
    </ion-item>
    <ion-item>Varietas
      <ion-note item-end color="dark">7887</ion-note>
      <p>ini notes</p>
    </ion-item>
    <ion-item>File name. txt
      <button ion-button clear item-end >
        Open
      </button>
    </ion-item>    
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light" align="center">Investigation Result</ion-item-divider>
    <ion-item>Coment
      <p text-wrap>ini notes</p>
    </ion-item>
    <ion-item>File name. txt
      <button ion-button clear item-end >
        Open
      </button>
    </ion-item>    
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light" align="center"><b>Validation</b></ion-item-divider>
    <ion-item>Validation
      <ion-note item-end color="dark">Valid Internal</ion-note>
    </ion-item>
    <ion-item>CPA#
        <ion-note item-end color="dark">2</ion-note>
    </ion-item>
    <ion-item>Proposed Compensation
        <p text-wrap>ini Proposed Compensation</p>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light" align="center"><b>Compensation</b></ion-item-divider>
    <ion-item>Date Send
      <ion-note item-end color="dark">Valid Internal</ion-note>
    </ion-item>
    <ion-item>Type
        <ion-note item-end color="dark">2</ion-note>
    </ion-item>
    <ion-item>Recieved Date
      <ion-note item-end color="dark">Valid Internal</ion-note>
    </ion-item>
    <ion-item>TTB#
        <ion-note item-end color="dark">2</ion-note>
    </ion-item>
    <ion-item>Recieved Name
      <ion-note item-end color="dark">Valid Internal</ion-note>
    </ion-item>
    <ion-item>Deskription
        <p text-wrap>ini Proposed Compensation</p>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light" align="center"><b>Compensation Varietas</b></ion-item-divider>
    <ion-item>
      <ion-row style="margin-top: -8px">
        <ion-col>
          <h2>Varietas <ion-badge text-wrap text-left color="dark">Bawang Mereh</ion-badge></h2>
        </ion-col>
        <ion-col col-4>
          <h2>Qty <ion-badge color="dark">2322</ion-badge></h2>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px">
        <ion-col>
          <h2>Package <ion-badge text-wrap text-left color="dark">Domestik</ion-badge></h2>
        </ion-col>
        <ion-col col-4>
          <h2>Amount <ion-badge color="dark">2345</ion-badge></h2>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light" align="center"><b>Corrective and Preventive Action</b></ion-item-divider>
    <ion-item>CPA Number
      <ion-note item-end color="dark">18-09-2017</ion-note>
    </ion-item>
    <ion-item>Description of the problem (Improvement Potential)
       <p text-wrap> Complaint detail ini Complaint detail ini Complaint detail ini Complaint detail  </p>       
    </ion-item>
    <ion-item>The causes of nonconformities (After Comfirmation)
        <p text-wrap> Complaint detail ini Complaint detail ini Complaint detail ini Complaint detail  </p>
    </ion-item>
    <ion-item>The conformitien imfact (Cost/Rework/etc)
       <p text-wrap> Complaint detail ini Complaint detail ini Complaint detail ini Complaint detail  </p>       
    </ion-item>
    <ion-item>Corrective and Preventive Action
        <p text-wrap> Complaint detail ini Complaint detail ini Complaint detail ini Complaint detail  </p>
    </ion-item>
    <ion-item>Verification of CPA
        <ion-note item-end color="dark">1</ion-note>
    </ion-item>
    <ion-item>File name. txt
      <button ion-button clear item-end >
        Open
      </button>
    </ion-item>
  </ion-item-group>

</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-buttons align="center">
      <button ion-button outline icon-left color="danger" (click)="actionGo()">
        <ion-icon name="checkmark"></ion-icon>
        Actions
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->
