<ion-header>

  <ion-navbar color="danger">
    <ion-title>Next New Complaint</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<h6 style="text-align: center;">Investigation</h6>

	<div padding>
	    <ion-label color="dark">Complaint Detail</ion-label>
	    <textarea rows="7" [(ngModel)] ="complaintDetail" name="complaintDetail" style="width: 100%;"></textarea>
	</div>

	<div padding>
	    <ion-label color="dark">Visit Result</ion-label>
	    <textarea rows="7" [(ngModel)] ="visitResult" style="width: 100%;"></textarea>
  	</div>

	<br>
		<p style="text-align: center;">Upload Additional Information</p>
	<br>

	<label ion-button color="primary" id="cin" name="cin" (change)="fileChangeEvent($event)">
          Upload File 
          <input id="cin" name="cin" type="file" style="display: none;">
    </label>
    <ion-item>File name. txt
      <button ion-button clear item-end >
        Delete
      </button>
    </ion-item>
	<!-- <button ion-button color="primary">Upload File</button> -->

	<br>
	<br>

	<button ion-button type="submit" color="danger" (click)="onSubmitComplaint()" block>Submit</button>

</ion-content>
