<ion-header>

  <ion-navbar color="danger">
    <ion-title>Next New Complaint</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<h6 style="text-align: center;">Marketing Official</h6>

	<ion-item>
	    <ion-label color="dark">Name</ion-label>
	    <ion-select col-9 [(ngModel)]="momarket" (ngModelChange)="getDtMo($event)">
		    <ion-option *ngFor="let item of marketofs" [value]="item">{{item.cUserName}}</ion-option>
	    </ion-select>
	</ion-item>

	<ion-item>
	    <ion-label color="dark" stacked>Phone</ion-label>
	    <ion-input [(ngModel)] = "InspPhone" name="InspPhone" type="number" placeholder=""></ion-input>
	</ion-item>

	<ion-item>
	    <ion-label color="dark" stacked>Email</ion-label>
	    <ion-input [(ngModel)] = "modatas" name="modatas" type="email" placeholder=""></ion-input>
	</ion-item>

	<br>
	<h6 style="text-align: center;">Customer</h6>

	<ion-item>
	    <ion-label color="dark" stacked>Name</ion-label>
	    <ion-input [(ngModel)] = "CustName" name="CustName"  type="text" placeholder=""></ion-input>
	</ion-item>

	<ion-item>
	    <ion-label color="dark" stacked>Phone</ion-label>
	    <ion-input [(ngModel)] = "CustPhone" name="CustPhone" type="number" placeholder=""></ion-input>
	</ion-item>

	<ion-item>
		<ion-label color="dark" stacked>Address</ion-label>
		<ion-textarea [(ngModel)] = "address" name="address"></ion-textarea>
	</ion-item>

	<ion-item>
	    <ion-label color="dark">Country</ion-label>
	    <ion-select col-9 [(ngModel)]="nationality" (ngModelChange)="getProv($event)">
		    <ion-option *ngFor="let item of nationalitys" value="{{item.nNationalityID}}">{{item.cNationalityName}}</ion-option>
	    </ion-select>
	</ion-item>

	<ion-item> 
    	<ion-label color="dark">Province</ion-label>
    	<ion-select col-9 [(ngModel)]="province" (ngModelChange)="getReg($event)">
	    	<ion-option *ngFor="let item of provinces" value="{{item.nNationalityLevelID}}">{{item.cNationalityLevelName}}</ion-option>
		</ion-select>
	</ion-item>

	<ion-item>
	    <ion-label color="dark">Regency</ion-label>
	    <ion-select col-9 [(ngModel)]="regrency">
		    <ion-option *ngFor="let item of regrencys" value="{{item.nAreaID}}">{{item.cAreaName}}</ion-option>
	    </ion-select>
	</ion-item>

	<br>
	<div>
	    <button ion-button color="danger" type="submit" block (click) = "keComplainNavigation()">Next</button>
	</div>
	
</ion-content>
