<ion-header>
  <ion-navbar color="danger">
    <ion-title>Investigation Comment</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
	    <ion-label color="dark">Comment</ion-label>
	    <textarea rows="7" style="width: 100%;"></textarea>
  </div>
  <div padding>
    <button ion-button color="primary">Upload File</button>
  </div>
	<ion-item>namafile.jpg
    <button ion-button clear item-end>
      Delete
    </button>
  </ion-item>
  <ion-item>namafile.jpg
    <button ion-button clear item-end>
      Delete
    </button>
  </ion-item>
	
  <div padding>
    <button ion-button type="submit" color="danger" block>Submit</button>
  </div>

</ion-content>
